@media screen and (min-width:376px) {

    .header{
        width: 100vw;
        padding-bottom: 20px;
        align-items: flex-end;
        
    }
        
    .navbar{
        width: 500px;
        height: 100px;
        flex-direction: row;
        position: initial;

    }

    .button{
        width: 120px;
        
    }

    .container{
        width: 100vw;
        flex-direction: row;
        align-items: flex-start;

    }

    .card1{
        width:1000px ;
        height: fit-content;
        margin-top: 50px;
        margin-left: 50px;
        order: 2;

    }

    #form{
       
    }

    .searchbar{
        width: 1000px;

    }

    .grid{
        grid-template-columns:repeat(3, 300px[col-start]);
        grid-template-rows:repeat(5, 200px[col-start]) ;

    }
    
    .card2{
        width:300px ;
        height: 500px;
        margin-top: 50px;
        align-items: center;
        justify-content: flex-start;
        flex-direction:column;
        left: 10px;
        bottom:0px;
        order: 1;
        

        
    }

    p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
    }
    

    .product{
        width: 110px;
    }

    .add{
        width: 30px;
        
    }

    .remove{
        width: 30px;
        
    }

    .hidden-element{
        display:initial;
    }
    
    .placeholderitem{
        width:300px;
        height:50px;
    }

    #some-product-id{
        margin-left:20px;
    }

    .product-name{
        max-width:200px;
        margin-left:0px;
        margin-right: auto;

    }

    .product-prijs{
        margin-left:auto;
        margin-right: auto;
    }
    
    .product-aantal{
        margin-right: 0px;
        margin-left:auto;
    }
    

    .visible{
        display: flex;
    }
}   

