*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    
}

.header{
    width: 375px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-color: aqua;

}

.navbar{
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left:137px;
    background-color:blue ;

}

.button{
    width: 75px;
    height: 50px;
    padding: 15px;
    text-align: center;
    background-color: aquamarine;

}

.container{
    width: 375px;
    height:fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(253, 240, 229);

}

.card1{ 
    margin-top: 20px;
    width:300px ;
    height: fit-content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
    margin: 20px;

}

.searchbar{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}

button {
    all: unset;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

form{
    height: 25px;
    border-radius: 20px;
    overflow:hidden;
    background-color:rgb(248, 242, 242);
    display: flex;
    flex: row;
    align-items: center;
    
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;

}

::placeholder {
    color: black;
    opacity: 0.7; 

}

.grid{
  display: grid;
  grid-template-columns:repeat(2, 150px[col-start]);
  grid-template-rows:repeat(8, 130px[col-start]) ;

}

.card2{ 
    width:300px ;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 250px;
    bottom: 0px;
    background-color: rgb(141, 141, 187);
    

}

p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.add{
    width: 10px;
    
}

.product{
    width:70px;
}

.remove{
    width:10px;
    
}

.item1{
    text-align: center;
    padding-top: 20px;
}

.item2{
    text-align: center;
    padding-top: 20px;
}

.item3{
    text-align: center;
    padding-top: 20px;
}

.item4{
    text-align: center;
    padding-top: 20px;
}

.item5{
    text-align: center;
    padding-top: 20px;
}

.item6{
    text-align: center;
    padding-top: 20px;
}

.item7{
    text-align: center;
    padding-top: 20px;
}

.item8{
    text-align: center;
    padding-top: 20px;
}

.item9{
    text-align: center;
    padding-top: 20px;
}

.item10{
    text-align: center;
    padding-top: 20px;
}

.item11{
    text-align: center;
    padding-top: 20px;
}

.item12{
    text-align: center;
    padding-top: 20px;
}

.item13{
    text-align: center;
    padding-top: 20px;
}

.item14{
    text-align: center;
    padding-top: 20px;
}

.item15{
    text-align: center;
    padding-top: 20px;
}

/* hidden class om elementen te verstoppen */
.hidden-element{
    display: none;
}